<div class="modalAlert" *ngIf="receiveBool">
    <div class="modalHead">
        <div class="head">
            <mat-icon class="icon">trip_origin</mat-icon>
            <p class="title"><strong> Bankapp </strong></p>
        </div>
        <p class="subtitle"> Agregar Tarjeta <button (click)="changeBool()">x</button></p>
    </div>
    <div class="row">
        <input class="col s12 m12" placeholder="  Número de tarjeta" type="text">
        <div class="inputContent">
            <input class="col s12 m6" placeholder="  Cuenta" type="text">
            <input class="col s12 m6" placeholder="  Issuer" type="text">
        </div>
        <input class="col s12 m12" placeholder="  Nombre de tarjeta" type="text">
        <input class="col s12 m12" placeholder="  Marca" type="text">
        <input class="col s12 m12" placeholder="  Estatus" type="text">
        <input class="col s12 m12" placeholder="  Saldo" type="text">
        <input class="col s12 m12" placeholder="  Tipo de Cuenta" type="text">
    </div>
    <div>
        <button (click)="changeBool()" class="cancel">Cancelar</button>
        <button class="add">Agregar Tarjeta</button>
    </div>
</div>