<div class="balance row" *ngFor="let b of balance">
    <div class="card col s12 m3">
        <p class="title">SALDO GENERAL EN CUENTAS</p>
        <p class="price pri">{{b.saldoGeneral | currency}}</p>
    </div>
    <div class="card col s12 m3">
        <p class="title">TOTAL DE INGRESOS</p>
        <p class="price">{{b.ingresos | currency}}</p>
    </div>
    <div class="card col s12 m3">
        <p class="title">TOTAL DE GASTOS</p>
        <p class="price">{{b.gastos | currency}}</p>
    </div>
</div>