.balance{
    background-color: #075d67;
    padding-left: 3%;
}

.card {
    background-color: #f4f5f5;
    margin: 1%;
    display: flex;
    padding: 2% 1%;
    margin: 2%;
    border-radius: 3px;
}
p{
    padding: 2% 0 0 0;
    margin: 0;
}
.row{
    margin: 0;
}

.title{
    width: 50%;
    font-weight: 900;
    font-size: 80%;
    color: #60cbc2;
    line-height: normal;
}

.price{
    color: #c2d0d0;;
    font-weight: 900;
    font-size: 150%;
    padding: 4% 0;
    margin-left: 15%;
}
.pri {
    color:  #0fbd94;
}