<div class="movements">
    <p class="title">MOVIMIENTOS</p>
    <div class="row head">
        <div class="col s12 m12 tableHead">
            <div class="col s12 m2">Fecha</div>
            <div class="col s12 m8">Descripción</div>
            <div class="col s12 m2">Monto</div>
        </div>
        <div class="col s12 m12 tableData" *ngFor="let m of movements">
            <div class="col s12 m2 data">{{m.fecha}}</div>
            <div class="col s12 m8 data">{{m.descripcion}}</div>
            <div class="col s12 m2 data curren" [ngClass]="m.tipo === 'abono' ? 'data' : 'dataError'">{{m.monto}}</div>
        </div>
    </div>
</div>