title {
    margin: 2% 1%;
    color: #c2d0d0;
    font-size: 80%;
}
.movements{
    color: white;
}

.head {
    color: #60cbc2;
    background-color: white;
}

.tableHead {
    border-bottom: solid 1px black;
    padding: 2% 0;
}

.tableData{
    padding: 2% 0;
}
.data {
    font-size: 90%;
}

.curren {
    font-weight: 900;
}

.dataError {
    color: red;
}