.logo{
    display: flex;
    padding: 2% 0;
    margin: 0;
    right: 100%;
}

.icon {
    color: #c2d0d0;
    font-size: 40px;
    position: relative;
    bottom: 50%;
}

.title{
    color: #c2d0d0;
    margin-left: 5%;
    padding: 2% 0 0 0;
    font-size: 150%;
}

.head {
    font-size: 80%;
    font-weight: 800;
    color: #0fbd94;
    margin: 0;
}

.titleHead {
    line-height: normal;
}

.description {
    font-size: 80%;
    color: #0fbd94;
    margin: 0;
    line-height: normal;
}