<div class="footer row">
    <div class="col s12 m6">
        <div class="titleHead">
            <p class="head">Bankapp</p>
            <p class="head">powered by conecta México</p>
        </div>
        <br>
        <div class="description">
            <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat mollitia quasi ut repudiandae neque odio totam perspiciatis ab, </p>
        </div>
    </div>
    <div class="col s12 m6 logo">
        <mat-icon class="icon">trip_origin</mat-icon>
        <p class="title"><strong> Bankapp </strong></p>
    </div>
</div>