<div class="navigate">
    <div class="row">
        <div class="col s12 m4 logo">
            <mat-icon class="icon">trip_origin</mat-icon>
            <p class="title"><strong> Bankapp </strong> powered by conecta</p>
        </div>
        <button class="col s12 m2 options">MIS CUENTAS</button>
        <button class="col s12 m2 options">ENVIAR DINERO</button>
        <div class="col s12 m4 client">
            <p class="pClient cli"> Octavio martinez</p>
            <p class="pClient">Ultimo inicio 05/74/1021</p>
        </div>
    </div>
</div>