  <div class="acounts">
    <p class="title">MIS CUENTAS</p>
    <div *ngFor="let c of account">
        <div [ngClass]="c.estado === 'activa' ? 'card' : 'cardInva'">
            <div class="head">
                <p class="state">{{c.estado}}</p>
                <p class="cash">{{c.saldo | currency}}</p>
            </div>
            <p class="cardNumber"> {{c.tarjeta}} </p>
            <p class="cardUser">{{c.nombre}}</p>
            <p class="cardHeadLine">{{c.tipo}}</p>
        </div>
    </div>
    <div (click)="valueBoolean(true)" class="newCard"> 
        <p class="new">AGREGAR TARJETA</p>  
        <mat-icon class="icon">add_circle_outline</mat-icon> 
    </div>
</div> 
